.main {
    width: 980px;
    height: 455px;
    margin-top: 16px;
    margin-left: 220px;
}
.focus {
    margin-top: -7px;
    width: 721px;
    float: left;
    height: 455px;
    background-color: purple;
}
.newsflash {
    margin-top: -7px;
    float: right;
    width: 249px;
    height: 455px;
}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news-hd {
    height: 33px;
    line-height: 33px;
    border: 1px dotted #e4e4e4 ;
    padding: 0 15px;
}
.news-hd h5 {
    float: left;
    font-size: 14px;
}
.news-hd .more {
    float: right;
}
.news-hd .more::after {
    font-family:'icomoon';
    content: '\e920';   
}
.news-bd {
    padding: 5px 15px 0;
}
.news-bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lifeservice {
    overflow: hidden;
    height: 209px;
    /* background-color: purple; */
    border: 1px solid #e4e4e4;
    border-top: 0;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
/* .lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    background-color: pink;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -19px -15px;
} */
.lifeservice ul li .service_icon {
    display: inline-block;
    width: 24px;
    height: 28px;
    background-color: pink;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat;
}
.lifeservice ul li .fun1 {
    background-position: -19px -15px;
}
.lifeservice ul li .fun2 {
    background-position: -79px -15px;
}
.lifeservice ul li .fun3 {
    background-position: -142px -15px;
}
.lifeservice ul li .fun4 {
    background-position: -206px -15px;
}
.lifeservice ul li .fun5 {
    background-position: -16px -84px;
}
.lifeservice ul li .fun6 {
    background-position: -79px -84px;
}
.lifeservice ul li .fun7 {
    background-position: -142px -85px;
}
.lifeservice ul li .fun8 {
    background-position: -208px -84px;
}
.lifeservice ul li .fun9 {
    background-position: -16px -155px;
}
.lifeservice ul li .fun10 {
    background-position: -79px -155px;
}
.lifeservice ul li .fun11 {
    background-position: -141px -155px;
}
.lifeservice ul li .fun12 {
    background-position: -206px -155px;
}

.bargain {
    margin-top: 5px;
}
.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}
.recom_hd {
    background-color: #5c5251;
    float: left;
    height: 163px;
    width: 205px;
    text-align: center;
    padding-top: 30px;
}
.recom_hd p {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}
.recom_bd {
    float: left;
}
.recom_bd ul li {
    position: relative;
    float: left;
}
.recom_bd ul li img {
    width: 248px;
    height: 163px;
}
.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}
/* .recom_bd ul li:last-child {
    width: 0;
} */
/* 家用电器模块 */
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}
.tab_list {
    float: right;
    line-height: 30px;
}
.tab_list ul li {
    float: left;
}
.tab_list ul li a {
    padding: 0 15px;
}
.floor .w {
    margin-top: 30px;
}
.box_bd {
    height: 361px;
}
.box_bd .tab_list_item div {
    float: left;
}
.col_210 {
    text-align: center;
    width: 210px;
    background-color: #f9f9f9;
    height: 361px;
}
.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}
.col_210 ul {
    padding-left: 12px;
}
.col_329 {
    width: 329px;
}
.col_221 {
    border-right: 1px solid #ccc;
    width: 221px;
}
.col_219 {
    width: 219px;
}
.bb {
    display: block;
    /* a包含有宽度的盒子，需要转换为块级元素 */
    border-bottom: 1px solid #ccc;
}
